/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Libre+Bodoni&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300&family=Poppins&family=Romanesco&display=swap");
/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(43, 86%, 17%);
  --clr-primary-2: hsl(43, 77%, 27%);
  --clr-primary-3: hsl(43, 72%, 37%);
  --clr-primary-4: hsl(42, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(42, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(43, 89%, 70%);
  --clr-primary-7: hsl(43, 90%, 76%);
  --clr-primary-8: hsl(45, 86%, 81%);
  --clr-primary-9: hsl(45, 90%, 88%);
  --clr-primary-10: hsl(45, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --ff-tetiary: "Poppins", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}
/*
=============== 
Global Styles
===============
*/

/* guitar shape style */

/* -webkit-clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-white);
  color: black;
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.nav-logo) {
  width: 100%;
  display: block;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
  color: var(--clr-grey-2);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-2);
  text-align: justify;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: var(--clr-grey-1);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.375);
  border-radius: var(--radius);
}
.btn:hover {
  background: black;
  color: white;
  -webkit-transform: translate(7px);
  transform: translate(7px);
}
/* section */
.section {
  padding: 5rem 0;
}

.section-title {
  margin-bottom: 3rem;
  text-align: center;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
/* underline/overline class */
.underline {
  width: 5rem;
  height: 0.2rem;
  background: black;
  margin-bottom: 1.25rem;
  margin: 0 auto;
}
/* end of underline class */

/*
=============== 
Navbar
===============
*/
.logo {
  font-family: var(--ff-tetiary);
  color: black;
  font-size: 1.8rem;
}
.x-logo {
  color: var(--clr-grey-4);
}

.nav-links {
  display: none;
}

.nav-links a {
  color: var(--clr-grey-1);
  text-transform: capitalize;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.nav-links a:hover {
  color: black;
  font-weight: bolder;
}

.nav {
  height: 4rem;
  background: white;
  padding: 1rem;
  display: grid;
  -webkit-box-align: center;
  align-items: center;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.nav-center {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
}

.nav-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
  align-items: center;
}
.nav-btn {
  background: none;
  border: none;
  font-size: 2rem;
  color: black;
  font-weight: bolder;
  cursor: pointer;
  justify-self: end;
}

@media screen and (min-width: 600px) {
  .nav {
    background: white;
  }

  .nav-btn {
    display: none;
  }

  .nav-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: center;
    align-items: center;
  }

  .nav-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    -webkit-box-pack: center;
    justify-content: center;
    justify-self: end;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }
}
/* fixed nav-bar */
.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  z-index: 1000;
  box-shadow: var(--dark-shadow);
}
/*
=============== 
Sidebar
===============
*/

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  z-index: 1500;
  display: grid;
  place-items: center;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.show-sidebar {
  -webkit-transform: translate(0);
  transform: translate(0);
}
.sidebar-links {
  text-align: center;
}

.sidebar-links a {
  -webkit-transition: var(--transition);
  transition: var(--transition);
  color: white;
  display: inline-block;
  margin-bottom: 1.5rem;
  font-size: 1.3rem;
  text-transform: capitalize;
}

.sidebar-links a:hover {
  color: var(--clr-primary-5);
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
}

.social-links {
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2rem;
  font-size: 1.3rem;
  width: 15rem;
}

.social-icon {
  color: white;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.social-icon:hover {
  color: var(--clr-primary-5);
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}

.logo-1 {
  color: white;
}
.link-icon {
  color: white;
  font-size: 1rem;
  padding-right: 0.5rem;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  color: white;
  border: none;
  font-size: 2rem;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  cursor: pointer;
}

.close-btn:hover {
  color: var(--clr-grey-6);
}

/*
=============== 
Hero
===============
*/
/* underline added to globals */

#text {
  font-weight: bold;
  color: var(--clr-white);
  text-transform: lowercase;
}
#cursor {
  color: white;
  -webkit-animation: blink 1.5s linear infinite;
  animation: blink 1.5s linear infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
}

@keyframes blink {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
}
.hero-info p {
  margin-top: 1.5rem;
  color: white;
  line-height: 1.8;
  max-width: 25rem;
  text-align: justify;
  letter-spacing: 0.1rem;
  -webkit-animation: load 4s ease 1;
  animation: load 4s ease 1;
  font-family: "Poppins", sans-serif;
}
.hero-info h3 {
  color: white;
  font-family: "Poppins", sans-serif;
}

@-webkit-keyframes load {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes load {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
}

.hero-icons {
  display: grid;
  grid-template-columns: repeat(3, 70px);
}

.hero-icon {
  color: white;
  font-size: 1.5rem;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.hero-icon:hover {
  color: var(--clr-grey-6);
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}

.hero-info h4 {
  color: white;
}

.ugo {
  font-family: "Poppins", sans-serif;
}

.hero-icon {
  font-weight: bold;
}

.hero-btn {
  background: white;
  color: var(--clr-grey-2);
  cursor: pointer;
  margin-bottom: 3rem;
}
.hero-btn:hover {
  background: black;
  color: white;
}
.hero-btn:hover .hero-icon {
  color: white;
}

/* hero */
.hero {
  padding-top: 1rem;
  position: relative;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(59, 59, 59, 0.724)),
      to(rgb(0, 0, 0))
    ),
    url(../images/about-img-4.jpg) center/cover fixed;
  background: linear-gradient(to bottom, rgba(59, 59, 59, 0.724), rgb(0, 0, 0)),
    url(../images/about-img-4.jpg) center/cover fixed;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 80px;
  min-height: calc(100vh - 4rem);
  display: grid;
  -webkit-box-align: center;
  align-items: center;
}

.hero .underline {
  background: white;
}
.hero-center {
  margin-top: -3rem;
  display: grid;
}
.hero-info {
  -webkit-box-ordinal-group: 3;
  order: 2;
}
.hero-img {
  -webkit-box-ordinal-group: 2;
  order: 1;
}

.hero-pic {
  display: none;
}

.hero-social {
  position: absolute;
  top: 60%;
  left: 5px;
  -webkit-transform: translateY(-60%);
  transform: translateY(-60%);
  border-radius: 50px;
  margin-bottom: 2rem;
  display: none;
}
.hero-social li a {
  padding: 20px 15px;
  display: block;
  text-align: center;
  font-size: 18px;
  color: black;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.hero-social li a:hover {
  color: var(--clr-grey-5);
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}

@media screen and (min-width: 950px) {
  #text {
    color: black;
  }

  .hero-info {
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
  .hero-img {
    -webkit-box-ordinal-group: 3;
    order: 2;
  }
  .hero-pic {
    display: initial;
  }

  .hero {
    background: #fff;
  }

  .hero-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
    -webkit-box-align: start;
    align-items: start;
  }

  .hero-img .hero-pic img {
    bottom: 0;
    right: 0;
  }

  .hero-info {
    -webkit-transform: translateY(20%);
    transform: translateY(20%);
  }

  .hero-social {
    top: 35%;
  }

  .hero-img .hero-pic img {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 789;
  }
  .header-hero-shape {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
  }

  .header-hero-shape::before {
    position: absolute;
    content: "";
    width: 1000%;
    height: 100%;
    -webkit-transform: skew(20deg);
    transform: skew(20deg);
    background: var(--clr-grey-9);

    top: 0;
    left: 0;
  }

  .hero-info h3 {
    color: black;
  }
  .hero-info h4 {
    color: black;
  }
  .hero-info p {
    color: black;
  }

  .hero-btn {
    background: var(--clr-grey-1);
    color: white;
  }
  .hero-icon {
    color: white;
  }
  .hero-btn:hover .hero-icon {
    color: white;
  }
}

@media screen and (min-width: 1250px) {
  .hero-social {
    display: initial;
  }
}

.hero .underline {
  margin: 1.25rem 0;
}

/*
=============== 
About
===============
*/
/* section title added to globals */
.about {
  margin-top: -4rem;
}

.about-title {
  text-align: left;
}
.about-title .underline {
  margin-left: 0;
}
.about-center {
  display: grid;
  gap: 3rem 2rem;
}
.about-img img {
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 1rem;
}
.about-img {
  justify-self: center;
}

.about-info p {
  text-align: justify;
  letter-spacing: 0.1rem;
  line-height: 2;
  font-weight: normal;
}

@media screen and (min-width: 500px) {
  .about-img {
    width: 25rem;
  }
}

@media screen and (min-width: 800px) {
  .about-center {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .about-img {
    position: relative;
  }

  .about-img::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid var(--clr-grey-6);
    background: black;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    top: 2rem;
    right: -2rem;
    border-radius: 2rem;
    z-index: -1;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
    border-top-right-radius: 0;
  }
}

.about-img:hover::before {
  top: 0;
  right: 0;
}

.about-info {
  align-self: center;
}

/*
=============== 
Services
===============
*/
.services {
  background: var(--clr-grey-10);
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.service {
  background: white;
  padding: 3rem 2rem;
  margin-bottom: 2.5rem;
  text-align: center;
  font-family: var(--ff-tetiary);
  border-radius: var(--radius);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto 1fr;
  box-shadow: 10px 10px 1px 0px rgba(0, 0, 0, 0.5);
}

.service-icon {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: var(--clr-grey-2);
}

.services .underline {
  height: 0.12rem;
  width: 3rem;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.services h4 {
  color: var(--clr-grey-2);
}
.service p {
  margin-top: 1.5rem;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.service:hover {
  color: white;
  background: black;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.85);
}

.service:hover p {
  color: white;
}
.service:hover .underline {
  background: white;
}
.service:hover .service-icon {
  color: white;
}
.service:hover h4 {
  color: white;
}

@media screen and (min-width: 675px) {
  .services-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .services-center {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*
=============== 
Projects
===============
*/

.projects-text {
  width: 85vw;
  max-width: 30rem;
  margin: 2rem auto;
  text-align: center;
  line-height: 2;
}

.project {
  position: relative;
  background: black;
  border-radius: var(--radius);
  margin-bottom: 2rem;
}

.project-info {
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 1;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.project-info h4 {
  color: white;
  line-height: 2;
}
.project-info p {
  text-align: center;
  color: white;
  text-transform: capitalize;
  line-height: 2;
}

.project:hover .project-info {
  opacity: 1;
}

.project-img {
  -webkit-transition: var(--transition);
  transition: var(--transition);
  border-radius: var(--radius);
  max-height: 15rem;
  opacity: 0.4;
}

.project::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 3px solid white;
  border-radius: var(--radius);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  opacity: 1;
}
.project:hover.project::after {
  opacity: 1;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

@media screen and (min-width: 650px) {
  .projects-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }
  .project-info {
    opacity: 0;
  }
  .project-img {
    opacity: 1;
  }

  .project:hover .project-img {
    opacity: 0.2;
  }
}
@media screen and (min-width: 992px) {
  .projects-center {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1170px) {
  .projects-center {
    grid-template-rows: repeat(2, 200px);
    gap: 1.5rem;
    grid-template-areas:
      "a b b  "
      "a c d";
  }

  .project-4-img {
    max-height: 28rem;
    -webkit-clip-path: polygon(
      0% 15%,
      15% 15%,
      15% 0%,
      85% 0%,
      85% 15%,
      100% 15%,
      100% 85%,
      85% 85%,
      85% 100%,
      15% 100%,
      15% 85%,
      0% 85%
    );
    clip-path: polygon(
      0% 15%,
      15% 15%,
      15% 0%,
      85% 0%,
      85% 15%,
      100% 15%,
      100% 85%,
      85% 85%,
      85% 100%,
      15% 100%,
      15% 85%,
      0% 85%
    );
  }

  .project-img {
    height: 100%;
  }
  .project {
    height: 100%;
  }

  .project-1 {
    grid-area: d;
  }
  .project-2 {
    grid-area: c;
  }
  .project-3 {
    grid-area: b;
  }
  .project-4 {
    grid-area: a;
  }
}
/*
=============== 
Connect
===============
*/

.connect {
  min-height: 40vh;
  position: relative;
  padding: 10rem 0 5rem 0;
  margin: 5rem 0;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: -2;
}
.connect::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.6;
  z-index: -1;
}

.vid-banner {
  background: rgba(255, 252, 252, 0.826);
  padding: 3rem 5rem 12rem 5rem;
  text-align: center;
  opacity: 1;
  -webkit-clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
}
.video-text {
  max-width: 30rem;
}
.connect {
  display: grid;
  place-items: center;
  -webkit-clip-path: polygon(
    50% 2%,
    100% 10%,
    100% 90%,
    50% 100%,
    0 90%,
    0 10%
  );
  clip-path: polygon(50% 2%, 100% 10%, 100% 90%, 50% 100%, 0 90%, 0 10%);
}

/*
=============== 
Skills
===============
*/
.skill-2 {
  background: rgb(157, 157, 214);
  color: white;
}

.front-2 {
  display: none;
}

@media screen and (min-width: 768px) {
  .skills-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }

  .front-2 {
    display: initial;
  }
}

.skills {
  background: var(--clr-grey-9);
}

.skills h3 {
  margin: 2rem 0;
  color: var(--clr-grey-1);
}
.skill {
  margin-bottom: 1.5rem;
}

.skill p {
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}

.skill-container {
  background: var(--clr-white);
  height: 1rem;
  width: 100%;
  border-radius: var(--radius);
  position: relative;
  margin-top: 2rem;
}

.skill-value {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--clr-grey-7);
  height: 100%;
  width: 90%;
  border-radius: var(--radius);
}
.value-70 {
  width: 70%;
}

.value-60 {
  width: 60%;
}
.skill-text {
  position: absolute;
  top: -2rem;
  left: 90%;
  -webkit-transform: translateX(-90%);
  transform: translateX(-90%);
}

.skill-text-60 {
  left: 60%;
  -webkit-transform: translateX(-60%);
  transform: translateX(-60%);
}
.skill-text-70 {
  left: 70%;
  -webkit-transform: translateX(-70%);
  transform: translateX(-70%);
}

/*
=============== 
Timeline
===============
*/

.timeline-center {
  width: 80vw;
  max-width: 40rem;
}
.timeline-item {
  border-top: 2px dashed var(--clr-grey-2);
  margin: 0;
  padding: 4rem 2rem;
  position: relative;
}

.timeline p {
  margin-bottom: 0;
}
.timeline-item:nth-child(even) {
  border-left: 2px dashed var(--clr-grey-2);
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  margin-right: 2rem;
  padding-right: 0;
}
.timeline-item:nth-child(odd) {
  border-right: 2px dashed var(--clr-grey-2);
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  margin-left: 2rem;
  padding-left: 0;
}

.timeline-item:first-child {
  border-top: 0;
  border-top-right-radius: 0;
}
.timeline-item:last-child {
  border-bottom-left-radius: 0;
}

.number {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-bottom: 0;
  background: var(--clr-grey-3);
  width: 2rem;
  height: 2rem;
  color: white;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-weight: bold;
}

.timeline-item:nth-child(even) .number {
  left: 0;
}
.timeline-item:nth-child(odd) .number {
  right: 0;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}

/*
=============== 
Blog
===============
*/

.blogs {
  background: var(--clr-grey-10);
}

.blogs h4 {
  color: var(--clr-grey-2);
}

.card {
  height: 25rem;
  position: relative;
  -webkit-perspective: 1500px;
  perspective: 1500px;
  box-shadow: 10px 10px 5px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 1px rgba(0, 0, 0, 0.75);
}

.card-side {
  -webkit-transition: all 2s linear;
  transition: all 2s linear;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: var(--radius);
  -webkit-transform: translate3d(0, 0, 0);
  visibility: visible;
}

.card-front {
  background: white;
}
.card-back {
  display: grid;
  place-items: center;
  background: var(--clr-grey-9);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.card:hover .card-front {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.card:hover .card-back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.card-front img {
  height: 12rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-top-right-radius: var(--radius);
  border-top-left-radius: var(--radius);
}

.card-info {
  padding: 1rem 1.5rem;
}

.card-footer {
  display: grid;
  grid-template-columns: auto 1fr;
  -webkit-box-align: center;
  align-items: center;
}
.card-footer img {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

.card-footer p {
  text-transform: capitalize;
  margin-bottom: 0;
  justify-self: end;
  font-size: 0.85rem;
}

.blogs-center {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem 1rem;
}
.author-img {
  -o-object-fit: cover;
  object-fit: cover;
}
/*
=============== 
Footer
===============
*/
.footer {
  background: black;
  padding-top: 2rem;
  display: grid;
  place-items: center;
  gap: 1rem;
}
.footer p {
  color: white;
  place-items: center;
  text-transform: capitalize;
}
.footer-icons {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
  justify-self: center;
}
/*
=============== 
contact me page
===============
*/
.contact-me {
  min-height:100vh ;
  background: linear-gradient(
      to top,
      rgba(18, 48, 132, 0.821),
      rgba(0, 0, 0, 0.869)
    ),
    url(../images/Big-Screen-background-img-8.jpg);
}

.contact-me-center {
  display: grid;
  place-items: center;
  text-align: center;
  gap: 2rem;
}
.contact-me .footer-icons .hero-icon {
  margin-top: 1rem;
  color: var(--clr-grey-1);
  color: white;
}

.contact-me h3,
h4 {
  color: white;
  font-weight: bolder;
  margin-bottom: 1.5rem;
}

.contact-me h2 {
  padding-top: 2rem;
  color: white;
}
.contact-underline {
  background: white;
}

@media screen and (min-width: 700px) {
  .contact-me-center {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*
=============== 
Products Page
===============
*/
